/* dessert */

.dessert-section {
  background-color: var(--color-cream);
  font-family: "Montserrat", sans-serif;
}

.dessert {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: auto;
}

.dessert__wrapper {
  display: flex;
  margin-top: 20px;
  /* border: 1px solid black; */
}

.dessert__choice {
  width: 25%;
  color: var(--color-dark-purple);
  font-size: calc(var(--font-small) - 2px);
  background-color: var(--color-dark-purple);
}

.dessert__choice__icon {
  display: block;
  padding-top: 20px;
  font-size: 40px;
  /* color: rgb(255, 0, 85); */
  color: var(--color-light-white);
}

.dessert__choice__list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.dessert__choice__list li {
  padding: 12px 0;
  background-color: var(--color-light-white);
  color: var(--color-black);
  transition: all 200ms ease-in;
}

.dessert__choice__list li:first-child {
  font-weight: var(--weight-semi-bold);
}

.dessert__choice__list li:nth-child(even) {
  background-color: var(--color-white);
}

.dessert__choice__list li:hover {
  background-color: var(--color-cream);
  color: var(--color-black);
  cursor: pointer;
  font-weight: var(--weight-semi-bold);
}

.dessert__choice__list li.active {
  background-color: var(--color-cream);
  color: var(--color-black);
  cursor: pointer;
  font-weight: var(--weight-semi-bold);
}

.dessert__sale {
  text-align: center;
  flex: 1;
  height: 320px;
  position: relative;
  overflow: hidden;
  background-color: var(--color-light-white);
}

.dessert__sale::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "♥SALE♥";
  font-size: 27px;
  width: 200px;
  height: 40px;
  background-color: var(--color-yellow);
  transform: rotate(-40deg) translate(-50px, -5px);
  z-index: 1;
}

.sale__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: center/cover no-repeat url("../images/sale-banner.png");
}

.sale__container img {
  width: 220px;
  /* border: 1px solid black; */
}

.sale__container .fa-plus {
  font-size: var(--font-medium);
}

.sale__title {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
  transform: translateY(-190px);
}

.sale__title p {
  font-size: var(--font-medium);
  color: red;
}

.sale__left {
  position: relative;
  width: 65%;
  height: 100%;
}

.sale__left > * {
  position: absolute;
  top: 0;
  left: 0;
}

.sale__left img:nth-child(1) {
  top: 10%;
  left: 80px;
}

.sale__left img:nth-child(2) {
  top: 40%;
  left: -30px;
  width: 300px;
}

.sale__left img:nth-child(3) {
  top: 50%;
  left: 40%;
}

.sale__left .sale__title {
  top: 80%;
  right: -50%;
}

.sale__right {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
  background-color: var(--color-navy);
  color: var(--color-white);
  border-radius: 6px;
  padding: 10px;
}

.sale__right > img {
  width: 180px;
}

.sale__story {
  font-size: calc(var(--font-micro) + 1px);
}

.bread__list {
  width: 100%;
  padding: 30px 0;
}

.bread__item {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  transition: all 300ms ease-in-out;
  opacity: 1;
}

.bread__item.animation {
  opacity: 0.3;
  transform: scale(0.98) translateY(15px);
}

.item__wrap {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 220px;
  background-color: transparent;
  margin-right: 10px;
  margin-bottom: 18px;
  padding-left: 15px;
  transition: all 300ms ease-in-out;
}

.item__wrap.invisible {
  display: none;
}

/* .item__wrap:hover img {
  opacity: 0.65;
} */

.item__wrap img {
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dessert__explain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--font-micro) + 2px);
  padding: 15px 0 10px 8px;
}

.dessert__explain span:nth-child(2) {
  font-weight: var(--weight-bold);
}

.dessert__item {
  width: 260px;
  height: 180px;
}

.dessert__detail {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 260px;
  bottom: 40px;
  visibility: hidden;
  transition: all 300ms ease-in;
}

.item__wrap:hover .dessert__detail {
  visibility: visible;
}
.item__wrap:hover img {
  opacity: 0.65;
}

.dessert__detail button {
  flex: 1;
  padding: 8px;
  transition: all 200ms ease-in;
  border: 1px solid transparent;
  background-color: #ffffff;
}

.dessert__detail button:hover {
  opacity: 1;
  transform: scale(1.04);
  border: 1px solid var(--color-light-gray);
  font-weight: var(--weight-semi-bold);
}
