:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #fcf6f2;
  --color-dark-white: #ccc;
  --color-cream: #ecebe8;
  --color-purple: #c4b9fe;
  --color-light-purple: #e3b5ff;
  --color-light-pink: #e8cbc6;
  --color-dark-pink: #c39489;
  --color-orange: #f3b25c;
  --color-green: #68706d;
  --color-dark-green: #7f928d;
  --color-black: #333;
  --color-gray: #616161;
  --color-light-gray: #cbc7c8;
  --color-chocolate: #422e28;
  --color-light-yellow: #fffff5;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* border */
  --border-radius-normal: 4px;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  cursor: text;
}

h1 {
  font-size: var(--font-large);
}

h2 {
  font-size: var(--font-medium);
}

h3 {
  font-size: var(--font-regular);
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

body {
  text-align: center;
  background-color: var(--color-cream);
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  /* border: 1px solid red; */
  position: relative;
}

.wrapper > section {
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  background-color: var(--color-white);
  width: 450px;
  border-radius: 8px;
  padding: 30px 40px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(207, 207, 207, 1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(207, 207, 207, 1);
  box-shadow: 2px 2px 6px 0px rgba(207, 207, 207, 1);
}

.container hr {
  opacity: 0.5;
  margin-bottom: 20px;
}

.wrapper > section:nth-child(2) {
  position: absolute;
  top: 0;
  display: none;
}

.wrapper > section:nth-child(3) {
  position: absolute;
  top: 0;
  display: none;
}

.login__form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.login__form input {
  width: 100%;
  height: 50px;
  padding: 6px 14px;
  font-size: var(--font-regular);
  border-radius: 6px;
  border: 1px solid var(--color-light-gray);
  margin-bottom: 10px;
}

.login__form input:focus {
  border-color: var(--color-purple);
}

.login__form > div {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--color-black);
  pointer-events: none;
}

.search__info {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.search__info > li {
  margin-left: 15px;
  font-size: var(--font-micro);
  color: var(--color-black);
  opacity: 0.7;
}

.search__info > li:hover {
  opacity: 1;
}

.search__info li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  transform: translate(7px, 1px);
  background-color: var(--color-light-gray);
}

.login button {
  width: 100%;
  height: 50px;
  /* height: 100%; */
  font-size: calc(var(--font-regular) + 4px);
  background-color: var(--color-light-purple);
  border-radius: var(--border-radius-normal);
  color: var(--color-light-white);
  font-weight: var(--weight-semi-bold);
  letter-spacing: 2px;
  margin-top: 10px;
  transform: translateY(2px);
  opacity: 0.9;
  transition: transform 300ms ease-in;
}

.login button:hover {
  transform: translateY(0px);
  opacity: 1;
}
