:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #fcf6f2;
  --color-dark-white: #ccc;
  --color-cream: #ecebe8;
  --color-purple: #c4b9fe;
  --color-light-purple: #e3b5ff;
  --color-dark-purple: #9200a6;
  --color-light-pink: #e8cbc6;
  --color-dark-pink: #c39489;
  --color-orange: #f3b25c;
  --color-green: #68706d;
  --color-dark-green: #7f928d;
  --color-black: #333;
  --color-gray: #616161;
  --color-light-gray: #cbc7c8;
  --color-chocolate: #422e28;
  --color-light-yellow: #fffff5;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* border */
  --border-radius-normal: 4px;
}
