<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/3fb56dfe63.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600;700&family=Sansita+Swashed:wght@400;600;700&display=swap"
        rel="stylesheet" />
    <!-- font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sansita Swashed', cursive; -->

    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/cart.css">
    <script src="/js/cart.js" defer></script>

</head>

<body>
    <div class="header__cover">
        <a href="#" class="header__center"> 고객센터 </a>
    </div>
    <header class="header" id="section">
        <div class="header__wrapper">
            <a href="/" class="header__title">
                <i class="fas fa-hand-holding-heart"></i>
                <span>Breadly</span>
            </a>
            <div class="header__search">
                <ul>
                    <li>첫번째</li>
                    <li>두번째</li>
                    <li>세번째</li>
                    <li>네번째</li>
                </ul>
                <div class="search">
                    <input type="text" class="search__input" />
                    <button class="search__button">
                        <i class="fas fa-search"></i>
                    </button>
                    <div class="search__preview">
                        <ul class="preview__input">
                            <button class="search__delete"><i class="fas fa-times"></i></button></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="header__menu">
                <li class="header__menu__item">
                    <a href="/login" class="menu__icon">
                        <i class="fas fa-user-alt"></i>
                    </a>
                    <span class="menu__title">로그인</span>
                </li>
                <li class="header__menu__item">
                    <a href="/register" class="menu__icon">
                        <i class="fas fa-file-signature"></i>
                    </a>
                    <span class="menu__title">회원가입</span>
                </li>
                <li class="header__menu__item">
                    <a href="cart.html" class="menu__icon">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <span class="menu__title">장바구니<span class="cart__count">0</span></span>
                </li>
            </ul>
        </div>
        <!-- header__wrapper -->
    </header>

    <section class="cart">
        <div class="cart__container">
            <div class="cart__header">
                <ul>
                    <li class="cart__title">상품</li>
                    <li class="cart__title">가격</li>
                    <li class="cart__title">수량</li>
                    <li class="cart__title">총 금액</li>
                </ul>
            </div>
            <div class="products">
                <ul class="products__wrapper">
                    <!-- 자바스크립트로 생성 -->
                </ul>
            </div>
        </div>
    </section>

</body>

</html>